.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.coverage
.cache
.pytest_cache
.hypothesis
/target
BENCHMARKS.md
Session.vim
.vscode/
.DS_Store
bench
.venv
uv.lock
tests/python/__pycache__
